html,
body {
	min-width: 960px;
	margin: 0;
	padding: 0;
}

html {
	 /* ФОН  
	background-image: url("../img/barbershop-shop.png");
	 /* МАКЕТ  */
	background-image: url("../img/barbershop-shop.png");
	background-position: top center;
	 */
	background-repeat: no-repeat;	
	background-position: center top;
	background-color: #000000;
	font-family: 'PT Sans Narrow', 'Tahoma', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
	width: 940px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding-right: 10px;
	padding-left: 10px;
}

/* КНОПКИ */

.btn {
	display: inline-block;
	box-sizing: border-box;
	min-height: 43px;
	padding: 10px;
	min-width: 140px;
	/*
	font-family: 'PT Sans Narrow', 'Tahoma', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	*/
	font: inherit;
	line-height: inherit;
	text-transform: inherit;
	text-decoration: none;

	text-align: center;
	vertical-align: top;

	margin-right: 20px;

	color: #ffffff;
	background-color: #000000;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn:last-child {
	margin-right: 0;
}

.btn:hover,
.btn:active {
	background-color: #6b431c;
}

.btn.disabled,
.btn:disabled {
	cursor: default;
	opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
	background-color: #000000;
}

/* HEADER */

.main-header {
	min-height: 72px;
	/*background: #000000;*/
	color: #ffffff;
}

.main-navigation {
	width: 780px;
	float: left;
}

.main-navigation ul {
	margin: 0;
	padding: 0;

	list-style: none;
	font-size: 0;
}

.main-navigation li {
	display: inline-block;
	vertical-align: top;
}

.main-navigation a {
	color: #ffffff;
	text-decoration: none;

	font-size: 16px;
	line-height: 20px;

	display: block;
	padding-top: 25px;
	padding-bottom: 27px;
	padding-left: 20px;
	padding-right: 20px;
}

.main-navigation a:hover {
	background-color: #242424;
}

.user-block {
	display: inline-block;
	vertical-align: top;
	max-width: 140px;
	float: right;
}

.user-block a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	position: relative;

	font-size: 16px;
	line-height: 20px;

	padding-top: 25px;
	padding-bottom: 27px;
	padding-right: 20px;
	padding-left: 50px;
}

.user-block a:hover {
	background-color: #242424;
}

.user-block a::before {
	content: "";
	position: absolute;
	background: url("../img/barbershop-index-sprites.png") -10px -10px;
	opacity: 0.3;

	top: 27px;
	left: 16px;

	width: 18px;
	height: 16px;
}

.user-block a:hover::before {
	opacity: 1.0;
}

/* MAIN */
main {
	padding-top: 49px;
	color: #000000;
	background:	#f8f5f2 url("../img/pattern-white.gif");
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 30px;
	line-height: 42px;
}

.breadcrumbs {
	margin-top: 15px;
}

.breadcrumbs ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: nowrap;
	list-style: none;
	height: 24px;
}

.breadcrumbs-item a {
	color: #000000;
	text-decoration: none;
}

.breadcrumbs-item {
	margin-right: 40px;
	position: relative;
}

.breadcrumbs-item::after {
	content: "";
	display: inline-flex;
	width: 8px;
	height: 8px;
	background-color: #000000;
	position: absolute;
	margin-left: 15px;
	margin-top: 8px;
	transform: rotate(45deg);
}

.chosen {
	color: #aba9a7;
}

/* CATALOG-SETTINGS */

.catalog {
	margin-top: 46px;
}

.catalog-settings {
	width: 220px;
	float: left;
	min-height: 570px;
	margin-right: 20px;
}

.catalog-settings form {
	padding: 0;
	margin: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.catalog-setting-title {
	padding: 0;
	margin: 0;
	margin-bottom: 25px;
	font-size: 24px;
	line-height: 32px;
}

.catalog-settings ul {
	padding: 0;
	margin: 0;
	list-style: none;	
}

.catalog-settings li {
	padding: 0;
	margin: 0;
	margin-bottom: 13px;
	margin-left: 20px;
}

.catalog-settings li:last-cild {
	margin: 0;
}

fieldset:nth-child(2) {
	margin-top: 33px;
}

form .btn {
	margin-top: 53px;
	padding: 0;
	box-sizing: border-box;
	min-width: 112px;
}

.catalog-settings label {
	cursor: pointer;
}

.checkbox,
.radio {
	display: none;
}
 
.checkbox-custom,
.radio-custom,
.label {
    display: inline-block;
    vertical-align: top;
}

.checkbox-custom {
	position: relative;
	width: 20px;
	height: 20px;
	left: -20px;
	top: 2px;
	background: #f8f5f2 url("../img/buttons-sprite.png");
	background-position: 0 0;
}

.radio-custom {
	position: relative;
	width: 20px;
	height: 20px;
	left: -20px;
	top: 2px;
	background: #f8f5f2 url("../img/buttons-sprite.png");
	background-position: 20px 0;
}

.radio:checked + .radio-custom {
	background-position: 20px 64px;
}

.radio:disabled + .radio-custom {
	background-position: 20px 42px;
}

.radio:disabled:checked + .radio-custom {
	background-position: 20px 20px;
}

.checkbox:checked + .checkbox-custom {
	background-position: 0 64px;
}

.checkbox:disabled + .checkbox-custom {
	background-position: 0 42px;
}

.checkbox:disabled:checked + .checkbox-custom {
	background-position: 0 20px;
}


/*.checkbox:checked + .checkbox-custom::before {
	content: "";
	display: block;
	position: absolute;
}*/

/* CATALOG-LIST */

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 700px;
	float: right;
	min-height: 595px;
}

.catalog-item {
	width: 220px;
	height: 290px;
	margin-bottom: 20px;
}

.paginator {
	margin-top: 20px;
}

/* FOOTER */
.main-footer {
	margin-top: 65px;
	padding-top: 60px;
}

.footer-contacts {
	min-height: 90px;
	width: 320px;
	float: left;
	margin-right: 60px; 
}

.footer-social {
	min-height: 90px;
	width: 180px;
	float: left;
}

.footer-copyright {
	min-height: 90px;
	width: 180px;
	float: right;
}