html,
body {
	min-width: 960px;
	margin: 0;
	padding: 0;
}

html {
	 /* ФОН  */
	background-image: url("../img/bg-photo.jpg");
	 /* МАКЕТ  
	background-image: url("../img/barbershop-index.png");
	 */
	background-repeat: no-repeat;	
	background-position: center top;
	background-color: #000000;
	font-family: 'PT Sans Narrow', 'Tahoma', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
	width: 940px;
	margin: auto;
	padding-right: 10px;
	padding-left: 10px;
}

/* КНОПКИ */

.btn {
	display: inline-block;
	box-sizing: border-box;
	min-width: 43px;
	padding: 10px;
	min-width: 140px;
	/*
	font-family: 'PT Sans Narrow', 'Tahoma', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	*/
	font: inherit;
	line-height: inherit;
	text-transform: inherit;
	text-decoration: none;

	text-align: center;
	vertical-align: top;

	margin-right: 20px;

	color: #ffffff;
	background-color: #000000;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn:last-child {
	margin-right: 0;
}

.btn:hover,
.btn:active {
	background-color: #6b431c;
}

.btn.disabled,
.btn:disabled {
	cursor: default;
	opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
	background-color: #000000;
}

/* HEADER */

.main-header {
	margin-bottom: 58px;
	min-height: 72px;
	background: #000000;
	color: #ffffff;
}

.main-navigation {
	width: 780px;
	float: left;
}

.main-navigation ul {
	margin: 0;
	padding: 0;

	list-style: none;
	font-size: 0;
}

.main-navigation li {
	display: inline-block;
	vertical-align: top;
}

.main-navigation a {
	color: #ffffff;
	text-decoration: none;

	font-size: 16px;
	line-height: 20px;

	display: block;
	padding-top: 25px;
	padding-bottom: 27px;
	padding-left: 20px;
	padding-right: 20px;
}

.main-navigation a:hover {
	background-color: #242424;
}

.user-block {
	display: inline-block;
	vertical-align: top;
	max-width: 140px;
	float: right;
}

.user-block a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	position: relative;

	font-size: 16px;
	line-height: 20px;

	padding-top: 25px;
	padding-bottom: 27px;
	padding-right: 20px;
	padding-left: 50px;
}

.user-block a:hover {
	background-color: #242424;
}

.user-block a::before {
	content: "";
	position: absolute;
	background: url("../img/barbershop-index-sprites.png") -10px -10px;
	opacity: 0.3;

	top: 27px;
	left: 16px;

	width: 18px;
	height: 16px;
}

.user-block a:hover::before {
	opacity: 1.0;
}

/* LOGO */

.index-logo {
	height: 204px;
	width: 368px;
	margin: auto;
	margin-bottom: 20px;
}

/* FEAUTERES */

.feauteres {
	margin-bottom: 65px;
}

.feauteres-item {
	width: 300px;
	float: left;
	margin-right: 20px;
	min-height: 180px;

	text-align: center;
}

.feauteres-item:last-child {
	margin-right: 0;
}

.feautere-name {
	display: block;	
	font-size: 30px;
	line-height: 42px;
	position: relative;

	padding-bottom: 35px;
	margin-bottom: 33px;
}

.feautere-name::after {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -10px;
	transform: rotate(45deg);
}

.feautere-item p {
	font-size: 14px;
	line-height: 24px;

	margin: 10px;
	margin-bottom: 10px;
	
}

/* WHITE PANELS */

.index-content {
	padding: 55px 80px; 
	margin-bottom: 34px;
	background:		
		url("../img/content-block-shape-border.png") no-repeat center,
		#f8f5f2 url("../img/pattern-white.gif");

	color: #000000;
}

.index-content-title {
	font-size: 30px;
	line-height: 42px;

	margin: 0;
	margin-bottom: 24px;
}

.index-content p {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
}

.index-contetn-left {
	width: 380px;
	float: left;
	min-height: 320px;
}

.index-contetn-right {
	width: 300px;
	float: right;
	min-height: 320px;
}

/* NEWS */

.news-preview {
	list-style: none;
	margin: 0;
	padding: 0;
}

.news-preview li {
	margin-bottom: 25px;
}

.news-preview p {
	padding: 0;
	margin-bottom: 0;
	padding-right: 50px;
}

.news-preview time {
	font-weight: 400;
	text-transform: none;
}



/* GALLERY */

.gallery {
	position: relative;
	width: 300px;
	height: 262px;
}

.gallery-content {
	margin: 0;
	height: 164px;

	background-color: #cccccc;
	border: 7px solid #ffffff;
}

.gallery-content img {
	width: 286px;
	height: 164px;
}

.gallery .btn {
	position: absolute;
	bottom: 0;
}

.btn.img-prew {
	left: 0;
}

.btn.img-next {
	right: 0;
}

/* CONTACTS */

.btn.contacts {
	margin-top: 18px;
}

/* FORM */

.appointment-form {
	margin-top: 4px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.appointment-form input[type="text"],
.appointment-form input[type="tel"] {
	background-color: #f9f6f3;
	border: 2px solid #000000;
	outline: none;
	box-sizing: border-box;
	width: 140px;
	min-height: 43px;
	padding-left: 15px;
	padding-right: 15px; 
	vertical-align: center;
	margin: 0;

	font: inherit;
	line-height: inherit;
	text-transform: inherit;
	color: #000000;
}

.appointment-form input[type="text"]:nth-child(1),
.appointment-form input[type="text"]:nth-child(2) {
	margin-bottom: 19px;
}

.btn[value="Отправить"] {
	margin-top: 34px;
	width: 300px;
}

.appointment-form input[type="text"]:hover,
.appointment-form input[type="text"]:focus,
.appointment-form input[type="tel"]:hover,
.appointment-form input[type="tel"]:focus {
	border-color: #834e1b;
}

/* FOOTER */

.main-footer {
	box-sizing: border-box;	
	min-height:	189px;
	margin-top: 64px;
	padding-top: 58px;
	background: #232323 url("../img/pattern-black.gif");
	color: #ffffff;
}

.footer-contacts {
	width: 320px;
	float: left;
	margin-right: 60px; 
}

.main-footer p {
	padding: 0;
	margin: 0;
}

.footer-contacts a {
	color: #ffffff;
}

.footer-contacts a:hover {
	text-decoration: none;
}

.footer-social {
	display: flex;
	width: 141px;
	float: left;
	text-align: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-social p {
	margin-bottom: 15px;
	display: block;
	width: 100%;
}

.social-btn {
	background: #000000;
	width: 43px;
	height: 43px;
	font-size: 0;
	text-decoration: none;

	transition:
		background-position 0.5s;
}

.social-btn:hover {
	background-color: #ffffff;
}

.social-btn-vk {
	   width: 43px; height: 43px;
    background: url("../img/barbershop-index-sprites.png") -10px -298px;
}

.social-btn-fb {
	width: 43px; height: 43px;
	background: url("../img/barbershop-index-sprites.png") -10px -46px;
}

.social-btn-inst {
	width: 43px; height: 43px;
	background: url("../img/barbershop-index-sprites.png") -10px -172px;
}

.social-btn-vk:hover {
	width: 43px; height: 43px;
	background: url("../img/barbershop-index-sprites.png") -10px -361px;
}

.social-btn-fb:hover {
	width: 43px; height: 43px;
	background: url("../img/barbershop-index-sprites.png") -10px -109px;
}

.social-btn-inst:hover {
	width: 43px; height: 43px;
	background: url("../img/barbershop-index-sprites.png") -10px -235px;
}


/*url("../img/social-vk.png")*/

.footer-copyright {
	min-width: 140px;
	float: right;
}

.footer-copyright p {
	margin-bottom: 15px;
	text-align: center;
}

.footer-copyright .btn {
	margin: 0;
}